In [2]:
# Menginstal Node.js versi terbaru
!curl -fsSL https://deb.nodesource.com/setup_18.x | sudo -E bash -
!sudo apt-get install -y nodejs

'sudo' is not recognized as an internal or external command,
operable program or batch file.
'sudo' is not recognized as an internal or external command,
operable program or batch file.

In [3]:
auth_token = 'ba0b9a4f36c0a3f3e35d54bd8fc2d6435f10936a'

filename = 'data_crawling.csv'
search_keyword = 'timnas Indonesia vs Bahrain'
limit = 1000

!npx --yes tweet-harvest -o "{filename}" -s "{search_keyword}" -l {limit} --token ""

npm notice
npm notice New minor version of npm available! 10.5.2 -> 10.9.0
npm notice Changelog: <https://github.com/npm/cli/releases/tag/v10.9.0>
npm notice Run `npm install -g npm@10.9.0` to update!
npm notice
npm ERR! code ENOENT
npm ERR! syscall lstat
npm ERR! path C:\Users\Alif\AppData\Roaming\npm
npm ERR! errno -4058
npm ERR! enoent ENOENT: no such file or directory, lstat 'C:\Users\Alif\AppData\Roaming\npm'
npm ERR! enoent This is related to npm not being able to find a file.
npm ERR! enoent

npm ERR! A complete log of this run can be found in: C:\Users\Alif\AppData\Local\npm-cache\_logs\2024-10-13T15_38_40_568Z-debug-0.log

In [1]:
import pandas as pd

# Read the CSV file into a pandas DataFrame
df = pd.read_csv('data\data_crawling.csv', sep=",")

# Display the DataFrame
display(df)

<>:4: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Alif\AppData\Local\Temp\ipykernel_1940\3471074623.py:4: SyntaxWarning: invalid escape sequence '\d'
  df = pd.read_csv('data\data_crawling.csv', sep=",")

,conversation_id_str,created_at,favorite_count,full_text,id_str,image_url,in_reply_to_screen_name,lang,location,quote_count,reply_count,retweet_count,tweet_url,user_id_str,username
0,1844732882407067670,Fri Oct 11 13:32:47 +0000 2024,3938,Timnas bahrain harusnya malu sih karena media ...,1844732882407067670,https://pbs.twimg.com/media/GZnOrwCbYAAc5wI.jpg,NaN,in,NaN,20,88,1025,https://x.com/satria_gigin/status/184473288240...,1519990804495826944,satria_gigin
1,1844888929444691987,Fri Oct 11 23:52:51 +0000 2024,2759,Bahrain have a lot of money but don't have a ...,1844888929444691987,https://pbs.twimg.com/amplify_video_thumb/1844...,NaN,in,Indonesia,16,55,556,https://x.com/yusuf_dumdum/status/184488892944...,2156465923,yusuf_dumdum
2,1840673119104885127,Mon Sep 30 08:40:44 +0000 2024,3776,KALENDER TIMNAS INDONESIA DI TAHUN 2024 [OKTOB...,1840673119104885127,https://pbs.twimg.com/media/GYticmOagAAh-KS.jpg,NaN,in,NaN,49,134,957,https://x.com/gilabola_ina/status/184067311910...,1170153265444442113,gilabola_ina
3,1843635634914918666,Tue Oct 08 12:52:43 +0000 2024,29,Gassss yang mau nobar Indonesia vs Bahrain kam...,1843635634914918666,https://pbs.twimg.com/media/GZXo1eNaoAARt6u.jpg,NaN,in,"Yogyakarta, Indonesia",1,7,4,https://x.com/sauskejucrispy/status/1843635634...,44879025,sauskejucrispy
4,1844672993034932495,Fri Oct 11 09:34:48 +0000 2024,58,Netijen Indonesia paling sering ribut dgn neti...,1844672993034932495,https://pbs.twimg.com/media/GZmXUf6aIAANuk0.png,NaN,in,NaN,1,2,9,https://x.com/el_sulfat/status/184467299303493...,125235427,el_sulfat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
624,1750442691299782708,Thu Jan 25 08:57:13 +0000 2024,1,Tentukan Nasib Timnas Indonesia Ini Prediksi Y...,1750442691299782708,NaN,NaN,in,Jakarta,0,0,0,https://x.com/Beritasatu/status/17504426912997...,154102750,Beritasatu
625,1834943543405936974,Sat Sep 14 13:13:27 +0000 2024,0,Timnas Indonesia Vs Bahrain dan China Kapan Di...,1834943543405936974,NaN,NaN,in,"Kota Cirebon, Jawa Barat",0,0,0,https://x.com/klikaktual/status/18349435434059...,1448974998782156802,klikaktual
626,1800396678551527539,Tue Jun 11 05:16:32 +0000 2024,0,Jadwal Leg 2 Siaran Langsung Timnas Indonesia ...,1800396678551527539,NaN,NaN,in,Yogyakarta,0,0,0,https://x.com/berita_diy/status/18003966785515...,1287642738683342848,berita_diy
627,1800554835906879683,Tue Jun 11 15:45:00 +0000 2024,0,Link live streaming Timnas Indonesia Putri vs ...,1800554835906879683,NaN,NaN,in,Yogyakarta,0,0,0,https://x.com/berita_diy/status/18005548359068...,1287642738683342848,berita_diy
628,1841284513919557928,Wed Oct 02 01:10:12 +0000 2024,1,Jadwal Bahrain vs Timnas Indonesia: Peluang Re...,1841284513919557928,NaN,NaN,in,"Jakarta Pusat, DKI Jakarta",0,0,0,https://x.com/SINDOnews/status/184128451391955...,231355136,SINDOnews